{% extends "base.html" %}

{% block content %}
  <header><h1>Register</h1></header>
  <section class="register-form">
    <form method="post">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="test@example.com" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary">
        Sign Up
      </button>
    </form>
  </section>
{% endblock %}